<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="ShopEasy"
			 connectionString=
			 "Data Source =(LocalDB)\MSSQLLocalDB;
			 AttachDBFilename=C:\Users\J\source\repos\ShopEasy\ShopEasy.mdf;
			 Integrated Security=True"/>
	</connectionStrings>
</configuration>